[submodule "extensions/koreanbots"]
	path = extensions/koreanbots
	url = https://github.com/comjun04/koreanbots-flashbot-extension.git
[submodule "extensions/helloworld"]
	path = extensions/helloworld
	url = https://github.com/comjun04/helloworld-flashbot-extension

[submodule "data/typing"]
	path = data/typing
	url = https://github.com/flashbot-discord/typing-data.git
